@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
        @apply text-neutral-600 dark:text-neutral-100
    }

    /* 🌑 Modo oscuro */
    .dark body {
        background: #190b36
    }

    /* ☀️ Modo claro */
    body {
        background: #f7ecff
    }

    .bg-light-gradient {
        background: linear-gradient(90deg, #ffffff, #f7ecff, #e8d9ff);
    }

    .bg-dark-gradient {
        background: linear-gradient(90deg, #020024 20%, #190b36 70%, #281649);
    }
}



